* {
    background: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* overflow-y: hidden; */
    
}
body{
    position: relative;
    /* width: 1440px; */
    height: 1024px;
}
.logo {
    padding-top: 40px;
    margin-left: 84px;
    width: 31.9px;
    height: 48px;
}
main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 180px;
    height: 100%;
    position:relative ;
}
.text-area {
    height: 400px;
    border: none;
    color: #0A3871;
    margin-top: 80px;
    padding: 2px;
    text-transform: lowercase;
    margin-left: 80px;
    /* margin-bottom: -200px; */
   
}
::placeholder {color: #0a3871;}
    .text-area:focus {
        outline: none;
    }   
    .contenedor-mensaje{
        position: relative;
        width: 400px;
        height: 900px;
        align-content: center;
   
    }
.mensaje {
     height: 70%;
    /* width: 100%;  */
    background: white;
    /* background-image: url("/img/Muñeco.png"); */
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 100px;
    margin-top: -55px;
    margin-bottom: auto;
    padding-left: 20px;
    padding-bottom: 95px;
    position:absolute;
    box-shadow:  0px 11px 20px -8px 
    /* float: right; */
    /* z-index: 1; */
}
.mensaje.focus {
    outline: none;
}
.aviso-de-escritura1{
    font-size: 24px;
    font-weight: 700;
    text-align:center;
    line-height: 120%;
    z-index: 1;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    background-color: white;
    /* margin-top: 100px; */
}
.aviso-de-escritura2{
    width: 336px;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -30px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    background-color: white;


}
.img{
    background-color: white;
    margin-top: 50px;
}
.container-prueba{
    position: absolute;
    background-color: white;
    margin-left: 115px;
    align-content: center;
}
.botones {
    display: flex;
    margin-left: 90px;


}
.btn-desencriptar {
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: #0a3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    
   
}
.btn-encriptar {
    background: #0a3871;
    border: 1px solid #0a3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
   
}
.btn-copiar{
    font-size: 16px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-top: 28px;
    position: absolute;
    width: 336px;
    margin-top: 110px;
    margin-left: 10px;
    
}
.informacion{
    /* display: flex; */
    color:#495057;
    font-size: 12px;
    margin-left: 100px;
    font-weight: 600;
    margin-top: 30px;
    
    
}
footer{
    background-color: #0A3871;
    /* height: 200px; */
    text-align: center;
}
.copyright{
    padding-top: 20px;
    padding-bottom: 150px;
    font-weight: 800;
    color: #0A3871;
}